.CodeMirror {
    border: 1px solid #adadad;
    border-radius: 1px;
    transition: border-color 0.1s linear;

    &:hover {
        border-color: #878787;
    }

    textarea[disabled] + & {
        opacity: .5;
    }
}
