<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Css" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">css</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Less" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">text/x-less</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Scss" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">text/x-scss</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Inlinecss" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="array">
                        <item name="name" xsi:type="string">css</item>
                        <item name="inline" xsi:type="boolean">true</item>
                    </item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Htmlmixed" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">htmlmixed</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Javascript" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">javascript</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Json" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">application/ld+json</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Yaml" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">yaml</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Yamlfrontmatter" type="Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Editor">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="editor_config" xsi:type="array">
                    <item name="mode" xsi:type="string">yaml-frontmatter</item>
                    <item name="line_wrapping" xsi:type="boolean">true</item>
                    <item name="css_class" xsi:type="string">cm-break-word</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
